body {
    font-family: 'Work Sans', sans-serif;
    box-sizing : border-box;
    margin :0;
    background-color: rgb(247, 247, 247);
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.container {
    display: flex;
    justify-content: space-around;
}
.listing {
    width: 17%;
    background-color: white;
    padding: 1%;
    margin-top: 1%;
}
.listing img {
    width: 100%;
}
nav {
    background-color: white;
    padding: 1%;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: black;
}
.menu {
    color: orangered;
    font-weight: bolder;
    font-size: medium;
}
header {
    text-align: center;
    width: 100%;
    height: 300px;
}
header input {
    width: 30%;
    padding: 5px;
    border-radius: 20px;
    border: 1px black solid;
}
header input:hover {
    border: 1px lime solid;
}
header button {
    border: none;
    background-color: transparent;
    color: orangered;
    font-size: large;
}
