body {
    font-family: 'Work Sans', sans-serif;
    box-sizing : border-box;
    margin :0;
    background-color: rgb(247, 247, 247);
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.container {
    display: flex;
    justify-content: space-around;
}
.listing {
    width: 17%;
    background-color: white;
    margin-top: 1%;
    text-align: center;
}
.listing img {
    width: 100%;
}
.listing h1 {
    font-family: cursive;
    color: rgb(201, 55, 80);
}
.listing a {
    color: orangered;
    text-decoration: none;
}
.listing button {
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 15px;
    color: maroon;
    text-align: center;
}
nav {
    background-color: white;
    padding: 8px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: black;
}
.menu {
    color: orangered;
    font-weight: bolder;
    font-size: medium;
}
header {
    background-size: cover;
    background-image: url(./119434.jpeg);
    text-align: center;
    width: 100%;
    height: 300px;
}
header input {
    width: 30%;
    padding: 8px;
    border-radius: 20px;
    border: 1px black solid;
}
header input:hover {
    border: 1px lime solid;
}
header button {
    margin-top: 1%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: large;
}
.recipe_det  h1 {
    text-align: center;
}
